// check to see if the repository has completed being cached
// if it has, render it using Joe's fancy-schmancy D3 stuff
// otherwise, sleep and try again in 5 seconds

function loadRepoData(github_owner, github_name, attempt) {
  $.ajax({
    url: 'repositories/' + github_owner + '/' + github_name + '.json',
    success: function(data) {
      var draw = false;
      draw = (data != null) && (data.chart_data != null);
      if (draw) {
        console.log(data);
        draw_pie($.parseJSON(data.chart_data));
        $('#results').css('display', 'block');
        $('#chart-repo-name').css('display', 'block');
        $('#chart-repo-name').html('<h1>' + data.name + '</h1>');
        $('#chart-headers').css('display', 'block');
      } else {
        if (attempt < 63) { // Brian hates even numbers, but we want to wait about 5 minutes
          setTimeout(function(){ loadRepoData(github_owner, github_name, attempt+1) }, 5000); // try again in 5 secs
        } else {
          // ERROR: figure out what to do!
        }
      }
    },
    error: function(jqXHR) {
      // ERROR: figure out what to do!
    }
  });
}

loadRepoData('<%= @github_owner %>', '<%= @github_name %>', 1);
