<div id="search">
    <p>enter github url</p>

    <%= form_tag('repositories/create', :method => "post",
                :remote => true,
                :class => 'the_button') do %>
    <%= text_field_tag "repo" %>
    </br>
    <%= submit_tag "Submit" %>
    <% end %>
</div>

<div id="pie"></div>
