<div class="container">
  <div class='row-fluid' id="brand">
    <div class="span12">
      <div class="span3"></div>
      <div class="span6">
        <h1>reposado</h1>
      </div>
      <div class="span3">
      </div>
    </div>
  </div>
</div>

<div class='row-fluid' id="search">
  <div class="span12">
    <div class="span3"></div>
    <div class="span6">
      <p>enter github url</p>

      <%= form_tag() do %>
        <%= text_field_tag "Repo" %>
        <%= submit_tag "Submit" %>
      <% end %>
    </div>
  </div>
</div>
