---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/reposado/reposado/issues?state=open&page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - token 052fa222631a8872903551d0675953361d7810c7
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-github-media-type:
      - github.beta
      x-oauth-scopes:
      - repo
      x-ratelimit-remaining:
      - '4956'
      x-ratelimit-limit:
      - '5000'
      x-accepted-oauth-scopes:
      - public_repo, repo
      etag:
      - ! '"d751713988987e9331980363e24189ce"'
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Wed, 05 Dec 2012 02:48:15 GMT
- request:
    method: get
    uri: https://api.github.com/repos/reposado/reposado/issues?state=closed&page=1&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - token 052fa222631a8872903551d0675953361d7810c7
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-github-media-type:
      - github.beta
      x-ratelimit-remaining:
      - '4953'
      x-accepted-oauth-scopes:
      - repo, public_repo
      x-ratelimit-limit:
      - '5000'
      etag:
      - ! '"f2cc1f8da21d20902aa3d1f0037895c7"'
      last-modified:
      - Tue, 04 Dec 2012 21:28:38 GMT
      x-oauth-scopes:
      - repo
    body:
      encoding: US-ASCII
      string: ! '[{"comments_url":"https://api.github.com/repos/reposado/reposado/issues/19/comments","updated_at":"2012-12-04T21:28:38Z","assignee":null,"state":"closed","closed_at":"2012-12-04T21:28:38Z","html_url":"https://github.com/reposado/reposado/issues/19","pull_request":{"html_url":"https://github.com/reposado/reposado/pull/19","patch_url":"https://github.com/reposado/reposado/pull/19.patch","diff_url":"https://github.com/reposado/reposado/pull/19.diff"},"comments":0,"labels_url":"https://api.github.com/repos/reposado/reposado/issues/19/labels{/name}","url":"https://api.github.com/repos/reposado/reposado/issues/19","created_at":"2012-12-04T21:28:21Z","number":19,"body":"","title":"Improve
        repositories#index view with styling and JS for nav tabs","events_url":"https://api.github.com/repos/reposado/reposado/issues/19/events","milestone":null,"labels":[],"user":{"type":"User","repos_url":"https://api.github.com/users/malandrina/repos","starred_url":"https://api.github.com/users/malandrina/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/malandrina/subscriptions","gravatar_id":"44a960b0179adb7578b955e328d0a3a8","received_events_url":"https://api.github.com/users/malandrina/received_events","avatar_url":"https://secure.gravatar.com/avatar/44a960b0179adb7578b955e328d0a3a8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","login":"malandrina","gists_url":"https://api.github.com/users/malandrina/gists{/gist_id}","url":"https://api.github.com/users/malandrina","events_url":"https://api.github.com/users/malandrina/events{/privacy}","organizations_url":"https://api.github.com/users/malandrina/orgs","followers_url":"https://api.github.com/users/malandrina/followers","id":1855523,"following_url":"https://api.github.com/users/malandrina/following"},"id":8999330},{"comments_url":"https://api.github.com/repos/reposado/reposado/issues/18/comments","updated_at":"2012-12-04T21:03:46Z","assignee":null,"state":"closed","closed_at":"2012-12-04T21:03:46Z","html_url":"https://github.com/reposado/reposado/issues/18","pull_request":{"html_url":"https://github.com/reposado/reposado/pull/18","patch_url":"https://github.com/reposado/reposado/pull/18.patch","diff_url":"https://github.com/reposado/reposa[...]
- request:
    method: get
    uri: https://api.github.com/repos/reposado/reposado/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - token 052fa222631a8872903551d0675953361d7810c7
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-github-media-type:
      - github.beta
      x-ratelimit-limit:
      - '5000'
      x-oauth-scopes:
      - repo
      etag:
      - ! '"2991c0f7c3883dcc7dae3f3eef8c324d"'
      x-ratelimit-remaining:
      - '4950'
      x-accepted-oauth-scopes:
      - public_repo, repo, repo:status, delete_repo
      last-modified:
      - Wed, 05 Dec 2012 00:10:56 GMT
    body:
      encoding: US-ASCII
      string: ! '[{"commit":{"url":"https://api.github.com/repos/reposado/reposado/commits/f5daed6bbccf79e08aed5033e6f1870ea273906b","sha":"f5daed6bbccf79e08aed5033e6f1870ea273906b"},"name":"index_view"},{"commit":{"url":"https://api.github.com/repos/reposado/reposado/commits/2b0dfedac647b88e6ac451cfeed8ec82756612f8","sha":"2b0dfedac647b88e6ac451cfeed8ec82756612f8"},"name":"ajax_pie"},{"commit":{"url":"https://api.github.com/repos/reposado/reposado/commits/a43c8e466d7d7fd47f1b7f2b9acbd48cca95356b","sha":"a43c8e466d7d7fd47f1b7f2b9acbd48cca95356b"},"name":"testing_af"},{"commit":{"url":"https://api.github.com/repos/reposado/reposado/commits/5f567dd1895b0d371d30d8784ac130f019970838","[...]
- request:
    method: get
    uri: https://api.github.com/repos/reposado/reposado/commits?per_page=100&sha=f5daed6bbccf79e08aed5033e6f1870ea273906b
    body:
      encoding: US-ASCII
      string: ''
    headers:
      authorization:
      - token 052fa222631a8872903551d0675953361d7810c7
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      status:
      - 200 OK
      x-github-media-type:
      - github.beta
      x-oauth-scopes:
      - repo
      last-modified:
      - Tue, 04 Dec 2012 21:24:42 GMT
      x-ratelimit-remaining:
      - '4949'
      x-ratelimit-limit:
      - '5000'
      x-accepted-oauth-scopes:
      - public_repo, repo
      etag:
      - ! '"ca20ffb7860edab91188487b610c175a"'
      link:
      - <https://api.github.com/repos/reposado/reposado/commits?last_sha=27eafd56ae5ea513eb093847771230d18d3263c7&per_page=100&sha=f5daed6bbccf79e08aed5033e6f1870ea273906b&top=f5daed6bbccf79e08aed5033e6f1870ea273906b>;
        rel="next", <https://api.github.com/repos/reposado/reposado/commits?per_page=100&sha=f5daed6bbccf79e08aed5033e6f1870ea273906b>;
        rel="first"
    body:
      encoding: US-ASCII
      string: ! '[{"author":{"type":"User","subscriptions_url":"https://api.github.com/users/malandrina/subscriptions","gravatar_id":"44a960b0179adb7578b955e328d0a3a8","starred_url":"https://api.github.com/users/malandrina/starred{/owner}{/repo}","login":"malandrina","repos_url":"https://api.github.com/users/malandrina/repos","events_url":"https://api.github.com/users/malandrina/events{/privacy}","gists_url":"https://api.github.com/users/malandrina/gists{/gist_id}","url":"https://api.github.com/users/malandrina","avatar_url":"https://secure.gravatar.com/avatar/44a960b0179adb7578b955e328d0a3a8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","received_events_url":"https://api.github.com/users/malandrina/received_events","organizations_url":"https://api.github.com/users/malandrina/orgs","followers_url":"https://api.github.com/users/malandrina/followers","id":1855523,"following_url":"https://api.github.com/users/malandrina/following"},"commit":{"author":{"date":"2012-12-04T21:24:42Z","name":"Laila","email":"lreadewinner@gmail.com"},"comment_count":0,"tree":{"url":"https://api.github.com/repos/reposado/reposado/git/trees/d397b5ed29a65aa77ec18d40c7d165208de1f46e","sha":"d397b5ed29a65aa77ec18d40c7d165208de1f46e"},"message":"Add
        JavaScript for #index nav tabs","url":"https://api.github.com/repos/reposado/reposado/git/commits/f5daed6bbccf79e08aed5033e6f1870ea273906b","committer":{"date":"2012-12-04T21:24:42Z","name":"Laila","email":"lreadewinner@gmail.com"}},"comments_url":"https://api.github.com/repos/reposado/reposado/commits/f5daed6bbccf79e08aed5033e6f1870ea273906b/comments","url":"https://api.github.com/repos/reposado/reposado/commits/f5daed6bbccf79e08aed5033e6f1870ea273906b","committer":{"type":"User","subscriptions_url":"https://api.github.com/users/malandrina/subscriptions","gravatar_id":"44a960b0179adb7578b955e328d0a3a8","starred_url":"https://api.github.com/users/malandrina/starred{/owner}{/repo}","login":"malandrina","repos_url":"https://api.github.com/users/malandrina/repos","events_url":"https://api.github.com/users/malandrina/events{/privacy}","gists_url":"https://api.github.com/users/malandrina/gists{/gist_id}","url":"https://api.github.com/users/malandrina","avatar_url":"https://secure.gravatar.com/avatar/44a960b0179adb7578b955e328d0a3a8?d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png","received_events_url":"https://api.github.com/users/malandrina/received_events","organizations_url":"https://api.github.com/users/malandrina/orgs","followers_url":"https://api.github.com/users/malandrina/followers","id":1855523,"following_url":"https://api.github.com/users/malandrina/following"},"parents":[{"url":"https://api.github.com/repos/reposado/reposado/commits/4613f256440d6eec4813841ae48e5e317c59b7fe","sha":"4613f256440d6eec4813841ae48e5e317c59b7fe"}],"sha":"f5daed6bbccf79e08aed5033e6f1870ea273906b"},{"author":{"type":"User","subscriptions_url":"https://api.github.com/users/malandrina/subscriptions","gravatar_id":"44a960b0179adb7578b955e328d0a3a8","starred_url":"https://api.github.com/users/malandrina/starred{/owner}{/repo}","login":"malandrina","repos_url":"https://api.github.com/users/m[...]
[...]
