/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  background-color: #fafafa;
  color: #503030;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
}

ul {
  margin-bottom: 0px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

li {
  font-size: 100%;
  list-style: none;
}

ul a {
  color: #503030;
  text-decoration: none;
}

ul #tab-1, #tab-2 {
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 8px 8px 0px 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-radius: 8px 8px 0px 0px;
  padding-top: .8%;
  margin: 5px 5px 0px 0px;
}

#header {
  margin: 0.6em 0 0 0.3em;
}

#header h1 {
  font-family: 'Carter One', sans-serif;
  font-size: 350%;
  font-weight: normal;
  line-height: 110%;
  margin-bottom: 2%;
}

#header a {
  color: #503030;
  text-decoration: none;
}

#header p {
  font-family: 'Open Sans', sans-serif;
  font-size: 90%;
  font-weight: normal;
  line-height: 125%;
  text-align: left;
}

#header img {
  float: left;
  max-height: 150px;
  padding-right: 10%;
}

#search {
  padding: 9.5% 7% 0 0;
}

#search p {
  font-family: 'Carter One', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

#tabs h1 {
  font-family: "Carter One", sans-serif;
  font-size: 150%;
  font-weight: normal;
  text-align: right;
}

#recent-repos {
}

#all-repos {
  display: none;
  background-color: #e0e0e0;
}

#repos {
  background-color: #e0e0e0;
}

#repos h1 {
  font-family: 'Carter One', sans-serif;
  font-size: 225%;
  font-weight: normal;
  line-height: 100%;
  text-align: right;
}

#repos h2 {
  color: #503030;
  font-family: 'Carter One', sans-serif;
  font-size: 2em;
  font-weight: normal;
  line-height: 125%;
  text-align: center;
}

#repos a {
  color: #503030;
  text-decoration: none;
}

#repos a:hover {
  background-color: white;
}

#repos p {
  font-family: "Open Sans", sans-serif;
  padding: 0 2% 0 10%;
}

#library-link {
  background-color: #fafafa;
}

#library-link h1 {
  font-family: "Carter One", sans-serif;
  font-size: 110%;
  line-height: 125%;
  font-weight: normal;
  color: #503030;
  text-align: left;
}

#library-link a {
  font-family: "Carter One", sans-serif;
  font-size: 200%;
  color: #503030;
  text-decoration: none;
}

#footer {
  font-size: 80%;
  margin: -1em 0.5em 0 0;
  text-align: right;
}

#footer a {
  text-decoration: none;
  color: #503030;
}

#footer a:hover {
  border-bottom: 1px dotted #503030;
}

#repo-1 {
  background-color: #7279d8;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  height: 85%;
  margin: 2% 0 2% 0;
}

#repo-2 {
  background-color: #a6cfe8;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: 2% 0 2% 0;
}

#repo-3 {
  background-color: #b593eb;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: 2% 0 2% 0;
}

#repo-4 {
  background-color: #AEB3ec;
  border-radius: 6px; 
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: 2% 0 2% 0;
}

#repo-5 {
  background-color: #4c57d8;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: 2% 0 2% 0;
}

#repo-6 {
  background-color: #c4aaeb;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  margin: 2% 0 2% 0;
}

.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}

.row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }