.arc path {stroke-width: 0;}
.legend text {fill: #402020;}
#pie {position: relative;
      right: 10%;
      margin-top: -10%;
      width: 130%;
      font-size: 72%;
    }

#pie img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;
}
