<!DOCTYPE html>
<html>
<head>
  <title>reposado</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">reposado</div>

<%= yield %>

<div id="footer">by arne, brian, joe, &amp; laila.</div>

</body>
</html>
